// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

/* ===========================
   HEADER
=========================== */
header nav {
    width: 70%;
    margin: auto;
}

header nav div {
    font-size: 12px;
}

header nav div div {
    padding: 30px 0;
    border-bottom: 5px solid #f8fafc;
}

header nav div div:hover {
    color: #0c7cec;
    border-bottom-color: #0c7cec;
}

/* ===========================
   FOOTER
=========================== */
/* ---------- TOP ---------- */
.footer-top {
    background-color: #077ff2;
    color: white;
}

.footer-top .container {
    padding: 40px 0;
}

.footer-top a {
    color: white;
    font-size: 12px;
    text-decoration: none;
}

.footer-top .nav-link:hover {
    color: white;
}

.footer-top ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-top ul li {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.footer-top ul li img {
    height: 40px;
}

.footer-top ul li img#power-visa {
    height: 25px;
}

/* ---------- MID ---------- */
.footer-mid {
    color: white;
    padding: 40px 0;
    height: 440px;
    overflow: hidden;
}

.footer-mid img {
    position: relative;
    top: -100px;
    height: 550px;
    rotate: 20deg;
}

.footer-mid a {
    color: darkgray;
    padding: 8px 0;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
}

.footer-mid ul {
    gap: 12px;
    list-style: none;
    padding: 0;
    margin: 0;
}

/* ---------- BOTTOM ---------- */
.footer-bottom {
    background-color: #212529;
    color: #077ff2;
    height: 90px;
    align-content: center;
}

.footer-bottom .container {
    padding: 0;
}

.footer-bottom .nav {
    align-items: center;
    margin: 0;
    display: flex;
}

.footer-bottom .nav div {
    display: flex;
    align-items: center;
}

.footer-bottom button {
    border: solid 2px #077ff2;
    background-color: transparent;
    color: white;
    padding: 10px;
    font-size: 12px;
}

.footer-bottom label {
    font-size: 15px;
    font-weight: bolder;
    color: #077ff2;
    padding: 0 16px;
}

.footer-bottom a {
    padding: 8px;
}